.nav{
    color: #4E47FF;
    justify-content: space-between;
    display: flex;
    margin: 0px 150px;
}
.back{
    background-image: url(Assets/Hero-bg.png);
    width:auto;
    height: 698px;
}

.btn{
    background-color: #4E47FF;
    color: #FFFF;
    border: none;
    
    border-radius: 10px;
    text-align: center;
    width: 132px;
    height: 48px;
    
}
.btn:hover {
  background-color: rgb(22, 213, 191);
  color: #000000;
  transform: scale(1.05);
}


.hback{
    margin-top: 309px;
    margin-bottom: 100px;
    margin-left: 267.5px;
    margin-right: 267.5px;
    text-align: center;
    font-size: 65px;
    /* width: 905px; */
    /* height: 237px; */
}
#reg{
    font-size: 42px;
    margin-bottom: none;
    color: #252432;
}
.img{
    border-radius: 48px;
    width: 403px;
    height: 328px;
    margin-right: 150px;
}
.sec{
    margin-top: 100px;
    margin-left: 141px;
    margin right: 159px;
    display: flex;
    justify-content: space-between;
}
span{
    color: #252432;
    font-size: 24px;
    text-align: left;
}
.txt{
    margin-top: 50px;
    margin-right: ;
}
.rat{

    display: flex;
    justify-content: space-between;
  
}
.users{
       text-align: center;
       border-radius: 20px;
       padding: 30px;
           margin: 150px;
      background-color: #aaa8f5e1;
}
.use{
    color: #4E47FF;
   width: Bold;
   size: 80px;
}
#cardcontainer{
    display: flex;
    flex-wrap: wrap; 
    gap: 16px;
}
#bcg{
    background-color: #d6dded72;
    /* margin-top: none; */
}

.card{
    background-color:aliceblue;
    stroke: #F2EDED;
    width: 320px;
    border: .2rem;
    border-radius: 24px;
    padding: 24px;
    box-shadow: 0 4px 12px #00000016;
    margin-left: 50px;
}
.card:hover {
  background-color: #4E47FF20;
  color: #000000;
  transform: scale(1.05);
}
.form label{
    font-size: 16px;
    color: #000000;
    font-weight: 500;
}
.form input{
    height: 23px;
    width: 450px;
    border-radius: 13px;
    padding-left: 16px;
    background-color: #FFFFFF;
    stroke-width: #D6DDED;
    margin-bottom: 16px;
    margin-top: 8px;

    
}
.form input ::placeholder{
    color: #000000;
    font-size: 18px;
}
#GetInTouch{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 130px;
}
#GetInTouch h1{
    color: #000000;
    font-weight: bold;
    font-size: 90px;
}


footer{
    text-align: center;
    color: #8987A1;
    padding: 96px 0px;
    background-color: #FFFFFF;
    border-radius: 48px 48ox 0px 0px;
}
footer h1{
    font-size: 48px;
    color: #4E47FF;
}
footer div ul{
    list-style: none;
    display: flex;
    gap: 48px;
    justify-content: center;

}
footer ul a{
    text-decoration: none;
   color: #000000;

}
