.nav{
    color: #4E47FF;
    justify-content: space-between;
    display: flex;
    margin: 0px 150px;
}
.btn{
    background-color: #4E47FF;
    color: #FFFF;
    border: none;
    
    border-radius: 10px;
    text-align: center;
    width: 132px;
    height: 48px;
    
}
.back{
    background-image: url(Assets/Hero-bg.png);
    width: 1440px;
    height: 698px;
}
.hback{
    margin-top: 309px;
    margin-bottom: 100px;
    margin-left: 267.5px;
    margin-right: 267.5px;
    text-align: center;
    font-size: 65px;
    width: 905px;
    height: 237px;
}
#reg{
    font-size: 42px;
    margin-bottom: none;
    color: #252432;
}
.img{
    border-radius: 48px;
    width: 403px;
    height: 328px;
    margin-right: 150px;
}
.sec{
    margin-top: 100px;
    margin-left: 141px;
    margin right: 159px;
    display: flex;
    justify-content: space-between;
}
span{
    color: #252432;
    font-size: 24px;
    text-align: left;
}
.txt{
    margin-top: 50px;
    margin-right: ;
}
.rat{
    display: flex;
    justify-content: space-between;
  
}
.users{
       text-align: center;
   
    
    background-color: #4E47FF20;
    
   


}